-
  var items = [
    {
      title: 'Офис',
      list: ['Помещение 40 кв.м', 'Мебель и оборудование']
    },
    {
      title: 'Сотрудники',
      list: ['Комплектатор', 'Менеджер', 'Дизайнеры', 'Визуализаторы', 'Чертёжники', 'Обмерщик']
    },
    {
      title: 'Услуги',
      list: ['Разработка дизайна интерьера — средний чек 150 000 ₽', 'Дизайн и полное сопровождение ремонта под ключ — средний чек 3 000 000 ₽']
    },
    {
      title: 'Ваши клиенты',
      list: ['b2c — разработка дизайна интерьера частных домов и квартир', 'b2b — дизайн интерьера коммерческих помещений (кафе, ресторанов, отелей), придомовые территории ЖК']
    },
    {
      title: 'Каналы привлечения клиентов',
      list: ['Сайт — 80%', 'Геосервисы: Google Maps, Яндекс.Карты, 2ГИC — 10%', 'Социальные сети — 5%', 'Рекомендации — 5%']
    },
  ]


section.business-section
  .container
    h2.title.title-white.tac Бизнес-модель
    .business-subtitle.tac По франшизе FLATHOUSEDESIGN открывается студия дизайна интерьера полного цикла. Для запуска бизнеса потребуются инвестиции в размере 1 263 500 ₽, которые окупятся в течение 8 месяцев.
    .business-grid
      each item, idx in items
        .business-item(class=`business-item-${idx + 1}`)
          .business-item-content
            .business-item-title= item.title
            ul.business-item-list
              each el in item.list
                li= el
          img.business-item-img(src=`img/business/item-${idx + 1}.png`, alt=item.title)
    .business-bottom-text По данным Росстата, ввод жилья за 2023 год составил 110 млн кв. м, что является абсолютным рекордом в России. В каждой квартире сданной новостройки понадобится ремонт. Параллельно растёт и спрос на услуги дизайнеров интерьеров среди тех, кто ценит своё время и средства, кто доверяет ремонт, как долгосрочную инвестицию, профессионалам.